	<link rel="stylesheet" href="/css/slider.css">
	
	<script src="/js/bootstrap-slider.js"></script>

	<div class="clearfix"></div>

	<section class="main-content">
		<div class="container-fluid" style="padding-top: 10px">
			<div class="col-md-3">
				<div class="filter-box">
				<div class="filter-content">
						<div class="filter-content-section">
							<h4 class="title">Need Help?</h4>
							<p class="text-center"><a class="post-job-btn" ng-click="dashboard.postJobModal()" href="#">Post a job</a></p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="filter-content">
						<div  class="row"><h2>Refine By</h2></div>
						<div class="row filter-content-section">
							<h5 class="title">Category</h5>
							<ul class="categories">
								<li class="cursor show"  ng-repeat="category in categories"><input  ng-click="selected_categories(category)" ng-model="category.selected"  class="cursor" type="checkbox"/><p class="cursor">{{category.Name}}</p></li>
							</ul>
						</div>
						<div class="row filter-content-section">
							<h5 class="title">Location</h5>
							<p>
								<span>Zip code</span><br>
								<input type="text" ng-model="dashboard.zip_filter">
							</p>
						</div>
						<div class="row filter-content-section">
							<p>
								<span>Distance Range</span>
							</p>

							<div class="slider slider-horizontal" style="width: 140px;">
								<div class="slider-track"><div class="slider-selection" style="left: 0%; width: 20%;"></div>
								<div class="slider-handle round" style="left: 20%;"></div>
								<div class="slider-handle round hide" style="left: 0%;"></div>
								</div>
								<!-- <div class="tooltip top" style="top: -40px; left: -19px;">
									<div class="tooltip-arrow"></div><div class="tooltip-inner">Current value: 2</div>
								</div>
								<input type="text" class="span2" value="4" id="sl1"> -->
								<div style="margin-top: 20px">In American miles</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<section class="tab-menu-holder">
					<div class="menu-tab">
						<div class="active">
							<!-- <span class="tab-item cursor" ng-class="{'active':dashboard.tab=='urgent'}" ng-click="dashboard.tab='urgent'"><span ng-class="{'bottom-border':dashboard.tab=='urgent'}"></span>URGENT SIDEJOBS</span> -->
							<span class="tab-item cursor"><span ng-class="{'bottom-border':dashboard.tab=='sidejob'}"></span>SIDEJOBS</span>
						</div>
						<div class="active">
							<span class="tab-item cursor"><span ng-class="{'bottom-border':dashboard.tab=='sidejob'}"></span>{{numberOfJobs}} Sidejobs found</span>
						</div>
					</div>
				</section>

					<div class="content">
						<div class="row">
						<div class="col-md-4 col-sm-6" ng-repeat="user in usersAll_filter" style="border: 1px solid black; padding: 10px;">
<span class="avatar-profile">
            			<img alt="" ng-src="{{user.avatar}}" title="Edit profile image" id="profile_img" ng-model="file" class="avatar avatar-70 photo avatar-default pic" height="200" width="200" type="file">
            			</span>
							<div>name -- {{user.firstName}} {{lastName}}</div>
							<div>address -- {{user.address}}</div>
							<div>job -- {{user.general_job}}</div>
							<div>{{user.bio}}</div>
							<div>{{user.skills}}</div>
							<div></div>
							</div>
						</div>
					</div>
					</div>


				</div>
			</div>
		</div>

	</section>


	<div class="modal fade topiraj" id="postjob_modal" tabindex="-1" role="dialog" aria-labelledby="postjob">
       <div class="modal-dialog modal-sm" role="document">
           <div class="modal-content">
               <div class="modal-body">
                   <div class="clearfix">
                          <form>
                               <div> 
                                   <input type="text" class="form-control" id="title" placeholder="Title" />
                                   <br>
                                   <input type="text" class="form-control" id="description" placeholder="Description" />
                                   <br>
                                   <input type="text" class="form-control" id="description" placeholder="Owner" />
                                   <br>
                                   <input type="text" class="form-control" id="description" placeholder="Categories" />
                                   <br>
                                   <input type="text" class="form-control" id="description" placeholder="ZIP Code" />
                               </div>
                           </form>
                           
                   </div>

               </div>
                   <div class="modal-footer">
                       <button  type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                       <button  type="button" class="btn btn-primary" data-dismiss="modal" ng-model="rename_clip" ng-click="renameClip()">Save</button>
                   </div>
           </div>
       </div>
    </div>